@import "~typo.css/typo.css";
@page {
  size: A4 portrait;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media not print {
  body {
    background-color: #dddddd;
    padding: 30px 0;
  }
}

@media screen and (max-width: 680px) {
  body {
    background-color: #ffffff;
    padding: 0;
  }
}

